<div class="container ">
  <h1 class="text-center">About Page</h1>
  <p>We are DevMatch oOur company focuses on creating and exclusive community for developers and entreprenuers to meet</p>
  
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, earum, dolor possimus quod quidem sapiente architecto voluptas rem voluptatibus sequi aliquid numquam. Inventore, asperiores, non eum dolorum iste tenetur tempora!</p>
</div>